$white: #fff;
$green: #3c763d;
$green-bright: #8cc152;
$green-light: #ebf1eb;
$red: #e54700;
$red-light: #ea6c33;
$yellow: #f70;
$yellow-light: #fcece5;
$yellow-dark: #e54700;

.clearfix:after,
.clearfix:before,
.comment-content:after,
.comment-content:before,
.entry-content:after,
.entry-content:before,
.site-content:after,
.site-content:before,
.site-footer:after,
.site-footer:before,
.site-header:after,
.site-header:before {
	content: '';
	display: table;
}

.clearfix:after,
.comment-content:after,
.entry-content:after,
.site-content:after,
.site-footer:after,
.site-header:after {
	clear: both;
}

.col5,
.col7 {
	float: left;
	margin: 0 3% 0 0;
}

.col5.last,
.col7.last {
	margin-right: 0;
}

.col7.last {
	display: table;
	position: relative;
	margin: 0 auto;
	width: auto;
	float: none;
}

.col5 {
	width: 40.5%;
}

.col7 {
	width: 56.5%;
}

#cab-m-timer-widget {
	.inside {
		padding: 0;
		margin: 0;
	}
}

.cab-maint {
	font-family: 'Open Sans', sans-serif;

	a {
		color: $white;
	}

	svg {
		display: block;
	}

	&__pers {
		&::before {
			display: inline-block;
			content: '';
			width: 22px;
			height: 22px;
			background-image: url('../images/cab-t-sprites.png');
			background-repeat: no-repeat;
			vertical-align: middle;
			margin: -1px 10px 0 0;
		}
	}

	ol {
		text-align: left;
	}

	&__textmain {
		text-align: left;
	}

	ul {
		text-align: left;
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			line-height: 22px;
			vertical-align: middle;
		}
	}

	&__btn {
		display: inline-block;
		color: $white;
		font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
		font-size: 14px;
		text-align: center;
		text-decoration: none;
		height: 32px;
		line-height: 32px;
		padding: 0 15px;
		margin: 0 10px;
		border-radius: 5px;
		transition: background 0.2s;

		&:focus,
		&:hover {
			color: $white;
		}
	}

	&__update {
		opacity: 0.8;
		font-size: 32px;
		font-weight: 700;
		margin: 0;
		line-height: 1;
		margin-bottom: 15px;

		&--small {
			font-size: 13px;
			text-transform: uppercase;
			opacity: 0.8;
			margin: 0;
		}
	}

	&__header {
		&__image {
			text-align: center;
			margin: 25px 0 15px;

			img {
				max-width: 100%;
				height: auto;
				margin: 0 auto;
			}
		}

		&__text {
			padding: 0;
			background-color: transparent !important;
			text-align: center;
			font-size: 18px;
			font-weight: 700;
			margin: 0 0 25px;
			font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
		}
	}

	&__box {
		color: #fff;
		display: none;
		padding: 25px;
		position: relative;
		text-align: center;

		&--open {
			display: block;
		}

		&__close {
			position: absolute;
			top: 10px;
			right: 10px;
			display: block;
		}
	}

	&__info {
		text-align: center;
		padding: 25px 0 0;
	}

	&__timer {
		display: flex;
		justify-content: center;

		&__col {
			padding: 0 15px;
			text-align: center;

			p {
				margin: 0;
			}
		}
	}

	&__num {
		font-size: 32px;
		font-weight: 700;
		margin: 0 0 10px;
	}

	&__footer {
		text-align: center;
		padding: 25px 0;

		a {
			display: inline-block;
		}

		img {
			display: block;
			max-width: 100%;
			height: auto;
		}
	}

	&--green {
		svg {
			fill: $green;
		}

		.cab-maint {
			&__pers {
				&--phone {
					&::before {
						background-position: 0 -22px;
					}
				}

				&--email {
					&::before {
						background-position: -23px -22px;
					}
				}

				&--web {
					&::before {
						background-position: -47px -22px;
					}
				}
			}

			&__btn {
				&--dark {
					background: $green;

					&:hover {
						background: darken($green, 5%);
					}
				}

				&--light {
					background: $green-bright;

					&:hover {
						background: darken($green-bright, 5%);
					}
				}
			}

			&__header {
				&__text {
					color: $green;
				}
			}

			&__box {
				color: $green;
				background: $green-light;

				a {
					color: $green;
				}
			}

			&__timer {
				&__col {
					color: $green;
				}
			}
		}
	}

	&--yellow {
		svg {
			fill: $yellow-dark;
		}

		.cab-maint {
			&__pers {
				&--phone {
					&::before {
						background-position: 0 -44px;
					}
				}

				&--email {
					&::before {
						background-position: -23px -44px;
					}
				}

				&--web {
					&::before {
						background-position: -47px -44px;
					}
				}
			}

			&__btn {
				&--dark {
					background: $yellow-dark;

					&:hover {
						background: darken($yellow-dark, 5%);
					}
				}

				&--light {
					background: $yellow;

					&:hover {
						background: darken($yellow, 5%);
					}
				}
			}

			&__header {
				&__text {
					color: $yellow-dark;
				}
			}

			&__box {
				color: $yellow-dark;
				background: $yellow-light;

				a {
					color: $yellow-dark;
				}
			}

			&__timer {
				&__col {
					color: $yellow-dark;
				}
			}
		}
	}

	&--red {
		svg {
			fill: rgba($white, .5);
		}

		.cab-maint {
			&__pers {
				&--phone {
					&::before {
						background-position: 0 0;
					}
				}

				&--email {
					&::before {
						background-position: -23px 0;
					}
				}

				&--web {
					&::before {
						background-position: -47px 0;
					}
				}
			}

			&__btn {
				&--dark {
					background: $red;

					&:hover {
						background: darken($red, 5%);
					}
				}

				&--light {
					background: $red-light;

					&:hover {
						background: darken($red-light, 5%);
					}
				}
			}

			&__header {
				&__text {
					color: $red;
				}
			}

			&__box {
				background: $red-light;
			}

			&__timer {
				&__col {
					color: $red;
				}
			}
		}
	}
}
